<!DOCTYPE html>
<head>
    <title>Image Gallery</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.3/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.3/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</head>
<body>
    <center>
        <hi>Image Gallery Project</hi>
        <h2>Django Web Framework</h2>
        <hr/>
    </center>
    {% for results in imggal %}
    <div class="row">
        <div class="col-md-12">
          <div id="mdb-lightbox-ui"></div>
          <div class="mdb-lightbox no-margin">
            <figure class="col-md-4">
                <h3 style="color: blue;">{{results.imgtitle}}</h3>
              <a href="{{results.image.url}}" data-size="1600x1067">
                <img src="{{results.image.url}}" class="img-fluid" alt="{{image.caption" height="450" width="550">
              </a>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{results.imgtitle}}</h5>
                  <p class="card-text">{{results.imgdesc}}</p>
                  <p class="card-text">{{location.name}}</p>
                </div>
            </figure>
          </div>
        </div>
      </div>
      {% endfor %}
</body>
</html>